.card-image {
    border-radius: 20px;
    overflow: hidden;
    border: 8px solid 1#fff;
    position: relative;
}

.card-image-body .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.card-image-body {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: #fff;
    padding: 30px;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.card-image-body .card-title {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
}

.card-image-body .card-text {
    font-size: 16px;
    line-height: 25px;
    margin: 0;
    font-weight: 400;
}
.card-image:hover .card-image-body{
    right: 0;
}
body{
    background-color: #f4bbd3;
}
.fontminerve{
    font-family: 'Mynerve', cursive;
    font-size: 50px;
}
.fontgloock{
    font-family: 'Gloock', serif;
    font-size: 40px;
}
.fontgloocknavbar{
    font-family: 'Gloock',serif;
    font-size: 25px;
}
.btn{
    background-color: #FE5D9F;
    border: #FE5D9F;
    height: 50px;
    width: 175px;
    font-size: 30px;
    font-family: 'Gloock', serif;
}
#buttonmail{
    width: 275px;
}